@import "../../theme/all";

.RecipeCustomInput {
  display: flex;

  &__group {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    flex: 1;
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.AddRecipePage {
  &.pageWrapWidth {
    padding: $padding-container;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: $radius-md;
    box-shadow: $shadow-box;
  }

  &__error {
    margin-bottom: 1rem;

    p:first-of-type {
      margin-bottom: 0.5rem;
      font-weight: bold;
    }
  }

  h1 {
    text-align: center;
  }

  label {
    h2 {
      margin-bottom: 0;
      display: inline-block;
    }
  }

  .CustomButton[type="submit"] {
    width: 100%;
  }
}
