@import "../../theme/all";

.AlertOverlayPopup {
  @include overlay-bg;

  &__wrapper {
    @include overlay-inside;
    align-items: center;
    justify-content: center;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    & .CustomButton:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}
