@import "../../theme/all";

.RecipeCard {
  position: relative;

  .AddFavButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    @include card-style;
  }

  &.loading {
    .RecipeCard__title {
      width: 100%;
      height: 2rem;
    }

    .RecipeCard__stats {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
    }

    .RecipeCard__stat {
      width: 25%;
      height: 1rem;
      margin-top: 2rem;
    }
  }

  &__top {
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: $radius-lg $radius-lg 0 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    padding: $padding-box;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__stats {
    font-size: 0.8rem;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
  }

  &__stat {
    text-transform: capitalize;
  }
}
