@import "../../theme/all";

.AddFavButton {
  border-radius: $radius-round;
  background-color: var(--bg-medium);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow-box;

  color: var(--red-liked);
  cursor: pointer;

  &:hover svg {
    animation: 1s ease infinite heartBeat;
  }
}
