:root {
  // backgrounds
  --bg-light: #ffffff;
  --bg-medium: #f5f5f5;
  --bg-dark: #eeeeee;
  --bg-white-light: #ffffff;
  --bg-white-medium: #f5f5f5;
  --bg-white-dark: #eeeeee;
  --bg-black-light: #303030;
  --bg-black-medium: #222222;
  --bg-black-dark: #1d1d1d;

  // primary color
  --primary-light: #fa9a55;
  --primary-medium: #f58634;
  --primary-dark: #e26d1a;

  // secondary color
  --secondary-light: #00af91;
  --secondary-medium: #007965;
  --secondary-dark: #005244;

  // accent color
  --accent-light: #ffcc29;
  --accent-medium: #e7b81d;
  --accent-dark: #d3a200;

  // greys
  --grey-light: #eeeeee;
  --grey-medium: #e4e4e4;
  --grey-dark: #c0c0c0;
  --grey-darker: #868686;

  // blacks
  --black-light: #3d3d3d;
  --black-medium: #2c2c2c;
  --black-dark: #1d1d1d;
  --black-darker: #111111;

  // texts colors
  --text-color: #232323;
  --text-white: #eeeeee;
  --text-grey: #aaaaaa;
  --text-black: #232323;

  // overlays
  --black-overlay: rgba(0, 0, 0, 0.2);
}
