@import "./variables";

@mixin menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

@mixin card-style {
  border-radius: $radius-lg;
  background-color: var(--bg-medium);
  box-shadow: $shadow-box;
}

@mixin link {
  font-weight: bold;
  border-bottom: 3px solid transparent;
  transition: $transition;
  color: var(--secondary-medium);

  &:hover {
    color: var(--secondary-light);
    border-bottom: 3px solid var(--secondary-medium);
  }
}
