@import "./variables";

@mixin menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

@mixin card-style {
  border-radius: $radius-lg;
  background-color: var(--bg-medium);
  box-shadow: $shadow-box;
}

@mixin link {
  font-weight: bold;
  border-bottom: 3px solid transparent;
  transition: $transition;
  color: var(--secondary-medium);

  &:hover {
    color: var(--secondary-light);
    border-bottom: 3px solid var(--secondary-medium);
  }
}

@mixin overlay-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-overlay-dark);
  z-index: 200;
}

@mixin overlay-inside {
  padding: $padding-container;
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  border-radius: $radius-lg;
}
