@mixin max-space {
  width: 100%;
  height: 100%;
}

.container-big {
  padding: 2rem;
  @include max-space;
}
.container-medium {
  padding: 1rem;
  @include max-space;
}
.container-small {
  padding: 0.5rem;
  @include max-space;
}

// loading animation
.loadingBox {
  animation: 1.5s ease infinite loadingBox;
}

@keyframes loadingBox {
  0% {
    background-color: var(--bg-dark);
  }
  50% {
    background-color: var(--grey-medium);
  }
  100% {
    background-color: var(--bg-dark);
  }
}

.pageWrapWidth {
  max-width: 750px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.iconButton {
  width: 2rem;
  height: 2rem;
  border-radius: $radius-round;
  cursor: pointer;

  &.noCursor {
    cursor: unset;
  }

  & svg {
    height: 100%;
    width: 100%;
    color: var(--secondary-medium);
    transition: $transition;
  }

  &:hover {
    & svg {
      color: var(--secondary-light);
    }
  }
}
