@mixin max-space {
  width: 100%;
  height: 100%;
}

.container-big {
  padding: 2rem;
  @include max-space;
}
.container-medium {
  padding: 1rem;
  @include max-space;
}
.container-small {
  padding: 0.5rem;
  @include max-space;
}
