// paddings
$box-padding: 0.5rem 1.5rem;

// border-radius
$radius-md: 5px;
$radius-round: 50%;

// shadows
$box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.05);

// transition
$transition: all 0.2s ease;
