@import "../../theme/all";

.Searchbar {
  // box-shadow: $shadow-box;
  border: 1px solid var(--grey-dark);
  margin: 0 2rem;
  width: 100%;
  border-radius: $radius-lg;

  & input {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    border-radius: $radius-lg;
  }
}
