@import "../../theme/all";

.Searchbar {
  display: flex;
  width: min-content;
  box-shadow: $shadow-box;

  & input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }

  &__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
