@import "../../theme/all";

.UserAvatar {
  width: 2rem;
  height: 2rem;
  border-radius: $radius-round;
  overflow: hidden;
  border: 1px solid var(--grey-dark);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
