@import "../../theme/all";

.ThemeToggle {
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    margin-right: 0.3rem;
  }
}
