@import "./theme/all";

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-dark);
  display: flex;

  &-offline {
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & h1 {
        margin-bottom: 2rem;
        font-size: 3rem;
      }

      & p {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      &--login {
        margin-top: 2rem;
      }
    }
  }

  &__left {
    box-shadow: $shadow-box;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 100;
    width: 100%;

    &:not(.active) {
      background-color: red;
      background-color: transparent;
      transition: background-color 0.05s ease 0s;
    }

    & .Navigation {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.2s ease;
    }

    &.active {
      transform: translateX(0);
      background-color: var(--black-overlay);
      transition: background-color 0.05s ease;

      & .Navigation {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0);
      }
    }
  }
  &__right {
    padding: $padding-container;
    background-color: var(--bg-dark);
    max-height: 100vh;
    overflow: auto;
    width: 100%;

    &--top {
      width: 100%;
      display: flex;
    }

    &--menu {
      @include menu-logo;
    }
  }
}
