@import "../../theme/all";

.SearchFilters {
  // @include overlay-bg;
  // height: 200vh;
  // width: 200vw;

  &__wrapper {
    @include overlay-inside;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    align-items: flex-start;
    visibility: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.2);

    &.active {
      visibility: visible;
    }

    h2 {
      text-align: center;
      margin: 0 auto 2rem auto;
    }

    h4 {
      margin-bottom: 1rem;
    }
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    & .FilterItem {
      margin: 0.5rem;
    }
  }

  &__save {
    width: 100%;
    display: flex;
    justify-content: center;
    & .CustomButton {
      margin: 1rem;
      width: 25%;
      transition: visibility 0s ease;
      transition: background-color 0.2s ease;
      transition: border 0.2s ease;
    }
  }
}
