@import "../../theme/all";

.CustomButton {
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  // white-space: nowrap;
  padding: $padding-box;
  color: var(--text-white);
  background-color: var(--grey-dark);
  border-radius: $radius-md;
  cursor: pointer;
  transition: $transition;

  &-primary {
    background-color: var(--primary-medium);
    &:hover {
      background-color: var(--primary-light);
    }
    &:active {
      background-color: var(--primary-dark);
    }
  }
  &-secondary {
    background-color: var(--secondary-medium);
    &:hover {
      background-color: var(--secondary-light);
    }
    &:active {
      background-color: var(--secondary-dark);
    }
  }
  &-transparent {
    color: inherit;
    background-color: transparent;
    border: 1px solid var(--grey-medium);

    &:hover {
      color: var(--primary-light);
    }
    &:active {
      color: var(--text-white);
      background-color: var(--primary-light);
    }
  }
}
